body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  overflow: hidden;
}

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg);
}

.star {
  --primary-color: #fff;
  --star-color: var(--primary-color);
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  -webkit-animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
          animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
  .star {
    -webkit-animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
            animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 7.24em;
  --top-offset: 12.8vh;
  --fall-duration: 7.686s;
  --fall-delay: 5.224s;
}
.star:nth-child(2) {
  --star-tail-length: 6.05em;
  --top-offset: 32.88vh;
  --fall-duration: 7.685s;
  --fall-delay: 2.668s;
}
.star:nth-child(3) {
  --star-tail-length: 6.01em;
  --top-offset: 55.36vh;
  --fall-duration: 8.177s;
  --fall-delay: 7.858s;
}
.star:nth-child(4) {
  --star-tail-length: 5.82em;
  --top-offset: 98.87vh;
  --fall-duration: 11.589s;
  --fall-delay: 3.475s;
}
.star:nth-child(5) {
  --star-tail-length: 6.64em;
  --top-offset: 42.65vh;
  --fall-duration: 8.324s;
  --fall-delay: 7.725s;
}
.star:nth-child(6) {
  --star-tail-length: 5.8em;
  --top-offset: 62.29vh;
  --fall-duration: 6.038s;
  --fall-delay: 6.322s;
}
.star:nth-child(7) {
  --star-tail-length: 5.78em;
  --top-offset: 52.76vh;
  --fall-duration: 6.954s;
  --fall-delay: 8.09s;
}
.star:nth-child(8) {
  --star-tail-length: 6.3em;
  --top-offset: 50.43vh;
  --fall-duration: 6.281s;
  --fall-delay: 0.108s;
}
.star:nth-child(9) {
  --star-tail-length: 5.65em;
  --top-offset: 10.79vh;
  --fall-duration: 7.621s;
  --fall-delay: 3.035s;
}
.star:nth-child(10) {
  --star-tail-length: 7em;
  --top-offset: 45.21vh;
  --fall-duration: 6.391s;
  --fall-delay: 9.74s;
}
.star:nth-child(11) {
  --star-tail-length: 6.35em;
  --top-offset: 3vh;
  --fall-duration: 9.237s;
  --fall-delay: 7.934s;
}
.star:nth-child(12) {
  --star-tail-length: 5.22em;
  --top-offset: 80.82vh;
  --fall-duration: 6.958s;
  --fall-delay: 4.535s;
}
.star:nth-child(13) {
  --star-tail-length: 5.29em;
  --top-offset: 52.75vh;
  --fall-duration: 11.541s;
  --fall-delay: 8.165s;
}
.star:nth-child(14) {
  --star-tail-length: 6.83em;
  --top-offset: 43.2vh;
  --fall-duration: 7.084s;
  --fall-delay: 2.137s;
}
.star:nth-child(15) {
  --star-tail-length: 6.3em;
  --top-offset: 85.05vh;
  --fall-duration: 11.578s;
  --fall-delay: 3.249s;
}
.star:nth-child(16) {
  --star-tail-length: 5.22em;
  --top-offset: 63.05vh;
  --fall-duration: 11.61s;
  --fall-delay: 0.477s;
}
.star:nth-child(17) {
  --star-tail-length: 5.86em;
  --top-offset: 96.96vh;
  --fall-duration: 11.514s;
  --fall-delay: 5.694s;
}
.star:nth-child(18) {
  --star-tail-length: 7.28em;
  --top-offset: 36.37vh;
  --fall-duration: 7.083s;
  --fall-delay: 9.728s;
}
.star:nth-child(19) {
  --star-tail-length: 6.38em;
  --top-offset: 21.3vh;
  --fall-duration: 8.567s;
  --fall-delay: 8.706s;
}
.star:nth-child(20) {
  --star-tail-length: 6.1em;
  --top-offset: 49.64vh;
  --fall-duration: 9.289s;
  --fall-delay: 5.353s;
}
.star:nth-child(21) {
  --star-tail-length: 5.91em;
  --top-offset: 3.61vh;
  --fall-duration: 7.488s;
  --fall-delay: 8.673s;
}
.star:nth-child(22) {
  --star-tail-length: 5em;
  --top-offset: 11.21vh;
  --fall-duration: 8.05s;
  --fall-delay: 0.121s;
}
.star:nth-child(23) {
  --star-tail-length: 5.86em;
  --top-offset: 17vh;
  --fall-duration: 11.444s;
  --fall-delay: 7.436s;
}
.star:nth-child(24) {
  --star-tail-length: 6.69em;
  --top-offset: 65.86vh;
  --fall-duration: 11.357s;
  --fall-delay: 3.213s;
}
.star:nth-child(25) {
  --star-tail-length: 6.54em;
  --top-offset: 91.78vh;
  --fall-duration: 9.518s;
  --fall-delay: 1.37s;
}
.star:nth-child(26) {
  --star-tail-length: 6.87em;
  --top-offset: 15.81vh;
  --fall-duration: 11.979s;
  --fall-delay: 2.811s;
}
.star:nth-child(27) {
  --star-tail-length: 6.39em;
  --top-offset: 28.88vh;
  --fall-duration: 10.854s;
  --fall-delay: 7.514s;
}
.star:nth-child(28) {
  --star-tail-length: 5.56em;
  --top-offset: 59.24vh;
  --fall-duration: 10.825s;
  --fall-delay: 4.7s;
}
.star:nth-child(29) {
  --star-tail-length: 7.01em;
  --top-offset: 14.62vh;
  --fall-duration: 6.461s;
  --fall-delay: 0.383s;
}
.star:nth-child(30) {
  --star-tail-length: 7.12em;
  --top-offset: 28.74vh;
  --fall-duration: 7.04s;
  --fall-delay: 1.958s;
}
.star:nth-child(31) {
  --star-tail-length: 5.19em;
  --top-offset: 23.87vh;
  --fall-duration: 6.629s;
  --fall-delay: 7.334s;
}
.star:nth-child(32) {
  --star-tail-length: 6.22em;
  --top-offset: 5.24vh;
  --fall-duration: 10.888s;
  --fall-delay: 3.163s;
}
.star:nth-child(33) {
  --star-tail-length: 5.4em;
  --top-offset: 48.71vh;
  --fall-duration: 10.348s;
  --fall-delay: 1.583s;
}
.star:nth-child(34) {
  --star-tail-length: 5.36em;
  --top-offset: 15.43vh;
  --fall-duration: 7.47s;
  --fall-delay: 9.422s;
}
.star:nth-child(35) {
  --star-tail-length: 5.73em;
  --top-offset: 71.9vh;
  --fall-duration: 10.546s;
  --fall-delay: 8.472s;
}
.star:nth-child(36) {
  --star-tail-length: 5.95em;
  --top-offset: 27.98vh;
  --fall-duration: 11.972s;
  --fall-delay: 5.908s;
}
.star:nth-child(37) {
  --star-tail-length: 5.15em;
  --top-offset: 35.16vh;
  --fall-duration: 7.625s;
  --fall-delay: 3.447s;
}
.star:nth-child(38) {
  --star-tail-length: 6.45em;
  --top-offset: 34.11vh;
  --fall-duration: 7.683s;
  --fall-delay: 9.051s;
}
.star:nth-child(39) {
  --star-tail-length: 5.21em;
  --top-offset: 98.38vh;
  --fall-duration: 10.392s;
  --fall-delay: 7.629s;
}
.star:nth-child(40) {
  --star-tail-length: 5.32em;
  --top-offset: 85.26vh;
  --fall-duration: 8.445s;
  --fall-delay: 1.905s;
}
.star:nth-child(41) {
  --star-tail-length: 6.29em;
  --top-offset: 44.95vh;
  --fall-duration: 6.547s;
  --fall-delay: 3.692s;
}
.star:nth-child(42) {
  --star-tail-length: 7.49em;
  --top-offset: 42.47vh;
  --fall-duration: 8.998s;
  --fall-delay: 0.397s;
}
.star:nth-child(43) {
  --star-tail-length: 6.08em;
  --top-offset: 91.34vh;
  --fall-duration: 9.453s;
  --fall-delay: 6.833s;
}
.star:nth-child(44) {
  --star-tail-length: 5.02em;
  --top-offset: 7.34vh;
  --fall-duration: 11.904s;
  --fall-delay: 1.297s;
}
.star:nth-child(45) {
  --star-tail-length: 7.34em;
  --top-offset: 13.68vh;
  --fall-duration: 6.888s;
  --fall-delay: 5.255s;
}
.star:nth-child(46) {
  --star-tail-length: 5.57em;
  --top-offset: 91.03vh;
  --fall-duration: 6.96s;
  --fall-delay: 8.123s;
}
.star:nth-child(47) {
  --star-tail-length: 6.91em;
  --top-offset: 96.29vh;
  --fall-duration: 10.359s;
  --fall-delay: 0.963s;
}
.star:nth-child(48) {
  --star-tail-length: 6.35em;
  --top-offset: 71.09vh;
  --fall-duration: 7.871s;
  --fall-delay: 2.759s;
}
.star:nth-child(49) {
  --star-tail-length: 6.44em;
  --top-offset: 82.9vh;
  --fall-duration: 8.267s;
  --fall-delay: 3.227s;
}
.star:nth-child(50) {
  --star-tail-length: 7.48em;
  --top-offset: 91.55vh;
  --fall-duration: 9.397s;
  --fall-delay: 7.984s;
}
.star::before, .star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  -webkit-animation: blink 2s linear infinite;
          animation: blink 2s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}

@-webkit-keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@-webkit-keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@-webkit-keyframes blink {
  50% {
    opacity: 0.6;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}/*# sourceMappingURL=style.css.map */